.App {
  display: block;
  min-width: 350px;
  max-height: 1000px;
  z-index: 1;
}

.shape {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #5697ca;
  clip-path: polygon(calc(80% - 10vw) 60%, 100% 0, 100% 50%, 100% 100%, 0% 100%, calc(50% - 10vw) 70%);
  z-index: -1;
}

.header {
  background-color: #9cccf2;
  text-align: center;
  padding: 2%;
  font-size: 4vh;
  font-size: 6vmin;
}

.todoList {
  padding-top: 2vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  visibility: hidden;
  width: 7px;
}

::-webkit-scrollbar:hover {
  display: inline;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: #888; 
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 2.5vh;
  text-align: center;
  min-width: 300px;
  max-width: 800px;
}

.grey {
  background-color: #d9d9d9;
}

.todoItem .text {
  display: inline-block;
  width: 75%;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.todoItem .delete {
  color: red;
  cursor: pointer;
  flex-grow: 1;
}

.todoItem .checkbox {
  cursor: pointer;
  flex-grow: 1;
} 

.checked {
  text-decoration: line-through;
}

.addTodoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addTodo {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  min-width: 300px;
  max-width: 800px;
  width: 80vw;;
  bottom: 2vh;
  height: 5vh;
  border: 1px solid black;
}

.addTodo input {
  flex-grow: 3;
  background-color: #D1D1D1;
  border: 0vmin;
  font-size: 1rem;
} 

.addTodo button {
  font-size: 1rem;
  flex-grow: 0.2;
}
